<article>
    <em>
    <%= tag.time l(feedback.created_at, format: :long), datetime: feedback.created_at %><br>
    <%= t 'global.feedback.posted_by', author: feedback.author %>
  </em>
  <p>
    <%= feedback.message %>
  </p>
  <hr>
</article>
